<a href="https://colab.research.google.com/github/Rahulrana15/5731assgn1/blob/main/5731exe(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The first In-class-exercise (09/07/2022, 40 points in total)**

(1) Write a Python program to calculate the length of a string. (4 points)

In [ ]:
# write your answer here
word = input("Enter a string: ")

count = 0
for s in word:
      count = count+1
print("Length of the input string is:", count)

Enter a string: raaaaana
Length of the input string is: 8

(2) Write a Python program to count the number of characters in a string. (4 points)

Sample String : 'google.com‘, 

Expected Result : {'o': 3, 'g': 2, '.': 1, 'e': 1, 'l': 1, 'm': 1, 'c': 1}

In [ ]:
# write your answer here
def char_count(word1):  
    arr = {}  
    for n in word1:  
        ch = arr.keys()  
        if n in ch:  
            arr[n] += 1  
        else:  
            arr[n] = 1  
    return arr  
print(char_frequency('google.com'))

{'g': 2, 'o': 3, 'l': 1, 'e': 1, '.': 1, 'c': 1, 'm': 1}

(3) Write a Python program to sum all the items in a list. (4 points)

In [ ]:
# write your answer here
def sum_numbers(numbers):
    sum_numbers = 0
    for x in numbers:
        sum_numbers += x
    return sum_numbers
print(sum_numbers([1,11,111]))

123

(4) Write a Python program to get a string from a given string where all occurrences of its first char have been changed to '\$', except the first char itself. (4 points)

Sample String : 'restart‘, 

Expected Result : 'resta\$t'

In [ ]:
# write your answer here
def replace_char(str2):
  char = str2[0]
  if char in str2:
     str2 = str2.replace(char, '$')
  str2 = char + str2[1:]

  return str2

print(replace_char('restart'))

resta$t

(5) Write a program with python which could accept two parameter a and b to calculate and output the result of S, where 

$\ S=3.14*(1+a/b)^3$ (4 points)

In [ ]:
# write your answer here
import math
print("enter values of a and b")
a=int(input())
b=int(input())
if b==0:
  print("enter a valid input")
else:
    s=int(math.pi)*(1+a/b)**3
    print(s)

enter values of a and b
5
0
enter a valid input

(6) Write a Python program to concatenate following dictionaries to create a new one. (4 points)

Sample Dictionary : dic1={1:10, 2:20}, dic2={3:30, 4:40}, dic3={5:50,6:60}, 

Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
# write your answer here
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
dic4 = {}
for d in (dic1, dic2, dic3): dic4.update(d)
print(dic4)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

(7) Write a Python program to check whether an element exists within a tuple. (4 points)

In [ ]:
# write your answer here
# tuple=(1,2,3,4,5,6,7,8,9,"a","b","c","d","e")
# print("enter element")
# r= input()
# print(r in tuple)

tuple = ("a", 1,2,'b' ,3,"c", "d",4, "e", "f", "g", "h", "i", "j")
print("d" in tuple)
print(1 in tuple)
print('z' in tuple)

True
True
False

(8) Write a Python program to find maximum and the minimum value in a set. (4 points)

In [ ]:
# write your answer here
set = {1000, 10, 3000, 1050, 5242, 6220}
print("set elements:")
print(set)
print("\nMaximum value")
print(max(set))
print("\nMinimum value")
print(min(set))

set elements:
{5242, 1000, 10, 6220, 3000, 1050}

Maximum value
6220

Minimum value
10

(9) Write a Python program to randomly divide the students in this class into six groups for term projects, each group should have at least 4 students but no more than 6 students (including 6). Here is the students list: (4 points)

studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386',
           'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']

In [9]:
# write your answer here
import random 

def partition (list_in, n):
    random.shuffle(list_in)
    return [list_in[i::n] for i in range(n)]
    
    
studnet_list = ['ja0964','sa1198','sb1357','vb0218','sc1229','kg0569','kg0470','sg1297','bg0320','fh0141','jl1252','sk1386', 'ak0956','sk1390','sk1458','sk1313','ak0934','vm0377','nm0618','sm1640','sm1907','gn0108','pr0353','dr0609','ms1500','aos0040','ds0814', 'av0659','nv0234','hy0232']
RandomList = partition(studnet_list,6)

for x in RandomList:
    print(x)

['ak0934', 'ak0956', 'sb1357', 'vm0377', 'aos0040']
['sc1229', 'pr0353', 'gn0108', 'nv0234', 'fh0141']
['hy0232', 'sm1640', 'bg0320', 'sk1458', 'sg1297']
['ds0814', 'kg0470', 'av0659', 'sk1390', 'jl1252']
['nm0618', 'ms1500', 'ja0964', 'sa1198', 'dr0609']
['vb0218', 'kg0569', 'sm1907', 'sk1313', 'sk1386']

(10) Write a Python program to find the duplicate elements in a given array of integers. Return -1 If there are no such elements. (4 points)

In [ ]:
# write your answer here
num = [1, 2, 3, 1, 2, 7, 8, 8, 3];     
     
print("Duplicate elements");    
for i in range(0, len(num)):    
    for j in range(i+1, len(num)):    
        if(num[i] == num[j]):    
            print(num[i]);

Duplicate elements
1
2
3
8

(11) Write a Python program to select all the Sundays of a specified year. (4 extra points)

In [ ]:
# write your answer here
from datetime import date, timedelta

def all_sundays(year):

       dt = date(year, 1, 1)

       dt += timedelta(days = 6 - dt.weekday())  
       while dt.year == year:
          yield dt
          dt += timedelta(days = 7)
          
for s in all_sundays(2022):
   print(s)

2022-01-02
2022-01-09
2022-01-16
2022-01-23
2022-01-30
2022-02-06
2022-02-13
2022-02-20
2022-02-27
2022-03-06
2022-03-13
2022-03-20
2022-03-27
2022-04-03
2022-04-10
2022-04-17
2022-04-24
2022-05-01
2022-05-08
2022-05-15
2022-05-22
2022-05-29
2022-06-05
2022-06-12
2022-06-19
2022-06-26
2022-07-03
2022-07-10
2022-07-17
2022-07-24
2022-07-31
2022-08-07
2022-08-14
2022-08-21
2022-08-28
2022-09-04
2022-09-11
2022-09-18
2022-09-25
2022-10-02
2022-10-09
2022-10-16
2022-10-23
2022-10-30
2022-11-06
2022-11-13
2022-11-20
2022-11-27
2022-12-04
2022-12-11
2022-12-18
2022-12-25