<a href="https://colab.research.google.com/github/Rahulrana15/5731assgn1/blob/main/In_class_exercise_03_10062022.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third In-class-exercise (10/06/2022, 40 points in total)

The purpose of this exercise is to understand text representation.

Question 1 (10 points): Describe an interesting text classification or text mining task and explain what kind of features might be useful for you to build the machine learning model. List your features and explain why these features might be helpful. You need to list at least five different types of features.

In [1]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
An interesting task performed by text classification is sentiment analysis,spam detection, topic labelling,this classifies data whether it is  good or bad.
Features that can be useful to build the machine learning algorithm SVM, deep learning, NLP
1.Entity feature
2. Tfidf 
3.Linguistic feature extraction
4.Dependency Parse 
5.Word2vec features 




'''

'\nPlease write you answer here:\nAn interesting task performed by text classification is sentiment analysis,spam detection, topic labelling,this classifies data whether it is  good or bad.\nFeatures that can be useful to build the machine learning algorithm SVM, deep learning, NLP\n1.Entity feature\n2. Tfidf \n3.Linguistic feature extraction\n4.Dependency Parse \n5.Word2vec features \n\n\n\n\n'

Question 2 (20 points): Write python code to extract these features you discussed above. You can collect a few sample text data for the feature extraction.

In [9]:
# You code here (Please add comments in the code):
import nltk

from bs4 import BeautifulSoup as bs
import pandas as pd
import requests as rq
import matplotlib.pyplot as plt
import nltk
from wordcloud import WordCloud
from nltk.corpus import stopwords


#collecting sample text data from IMDb "godfather movie reviews"

#assigining the URL to a varilable 
url = 'https://www.imdb.com/title/tt13130308/reviews/?ref_=tt_ql_urv'

#Creating a data frame with a column to store text of reviews
d_f = pd.DataFrame(columns=['Review'])
req = rq.get(url).text
soup = bs(req,'html.parser')

#getting reviews
review_text = soup.find_all('div', attrs={'class' : 'text show-more__control'})

#creating a empty list
review_list = []
for i in range(len(review_text)):
    review_list.append(review_text[i].get_text())

#assigining list to the data frame    
d_f['Review'] = review_list

d_f['word_count'] = d_f['Review'].apply(lambda x: len(str(x).split(" ")))
d_f[['Review','word_count']].head()

                                              Review  word_count
0  This is a film where the cinematic art dies. "...         132
1  I was thinking not to compare anything with th...         172
2  When chiranjeevi said he had made the script m...         101
3  JUST RACZ... VISUAL FEAST.. Awesome to see Gra...          84
4  When Prithviraj, the original director behind ...         419

In [10]:
d_f['char_count'] = d_f['Review'].str.len() ## this also includes spaces
d_f[['Review','char_count']].head()

                                              Review  char_count
0  This is a film where the cinematic art dies. "...         729
1  I was thinking not to compare anything with th...        1089
2  When chiranjeevi said he had made the script m...         625
3  JUST RACZ... VISUAL FEAST.. Awesome to see Gra...         604
4  When Prithviraj, the original director behind ...        2658

In [11]:
#Stopwords

from nltk.corpus import stopwords

import nltk
nltk.download('stopwords')
stop = stopwords.words('english')

d_f['stopwords'] = d_f['Review'].apply(lambda x: len([x for x in x.split() if x in stop]))
d_f[['Review','stopwords']].head()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

                                              Review  stopwords
0  This is a film where the cinematic art dies. "...         54
1  I was thinking not to compare anything with th...         63
2  When chiranjeevi said he had made the script m...         41
3  JUST RACZ... VISUAL FEAST.. Awesome to see Gra...         24
4  When Prithviraj, the original director behind ...        163

In [12]:
d_f['hastags'] = d_f['Review'].apply(lambda x: len([x for x in x.split() if x.startswith('#')]))
d_f[['Review','hastags']].head()

                                              Review  hastags
0  This is a film where the cinematic art dies. "...        0
1  I was thinking not to compare anything with th...        0
2  When chiranjeevi said he had made the script m...        0
3  JUST RACZ... VISUAL FEAST.. Awesome to see Gra...        0
4  When Prithviraj, the original director behind ...        0

In [13]:
d_f['numerics'] = d_f['Review'].apply(lambda x: len([x for x in x.split() if x.isdigit()]))
d_f[['Review','numerics']].head()

                                              Review  numerics
0  This is a film where the cinematic art dies. "...         1
1  I was thinking not to compare anything with th...         0
2  When chiranjeevi said he had made the script m...         0
3  JUST RACZ... VISUAL FEAST.. Awesome to see Gra...         0
4  When Prithviraj, the original director behind ...         0

In [14]:
d_f['upper'] = d_f['Review'].apply(lambda x: len([x for x in x.split() if x.isupper()]))
d_f[['Review','upper']].head()

                                              Review  upper
0  This is a film where the cinematic art dies. "...      0
1  I was thinking not to compare anything with th...     15
2  When chiranjeevi said he had made the script m...      0
3  JUST RACZ... VISUAL FEAST.. Awesome to see Gra...      5
4  When Prithviraj, the original director behind ...      1

Question 3 (10 points): Use any of the feature selection methods mentioned in this paper "Deng, X., Li, Y., Weng, J., & Zhang, J. (2019). Feature selection for text classification: A review. Multimedia Tools & Applications, 78(3)." Select the most important features you extracted above, rank the features based on their importance in the descending order.

In [15]:
# You code here (Please add comments in the code):
txt_classification = (d_f['Review'][1:2]).apply(lambda x: pd.value_counts(x.split(" "))).sum(axis = 0).reset_index()
txt_classification.columns = ['words','tf']
txt_classification

           words  tf
0            the   9
1              I   5
2             of   5
3        LUCIFER   4
4             is   4
..           ...  ..
122          BGM   1
123  lovable.And   1
124  Performance   1
125    watch.But   1
126   Louteriya.   1

[127 rows x 2 columns]

In [18]:
import numpy as np

for i,word in enumerate(txt_classification['words']):
    txt_classification.loc[i, 'idf'] = np.log(data_frame.shape[0]/(len(d_f[d_f['Review'].str.contains(word)])))

txt_classification

           words  tf       idf
0            the   9  0.083382
1              I   5  0.174353
2             of   5  0.223144
3        LUCIFER   4  3.218876
4             is   4  0.083382
..           ...  ..       ...
122          BGM   1  1.021651
123  lovable.And   1  3.218876
124  Performance   1  2.525729
125    watch.But   1  3.218876
126   Louteriya.   1  3.218876

[127 rows x 3 columns]

In [19]:
txt_classification['tfidf'] = txt_classification['tf'] * txt_classification['idf']
txt_classification

           words  tf       idf      tfidf
0            the   9  0.083382   0.750434
1              I   5  0.174353   0.871767
2             of   5  0.223144   1.115718
3        LUCIFER   4  3.218876  12.875503
4             is   4  0.083382   0.333526
..           ...  ..       ...        ...
122          BGM   1  1.021651   1.021651
123  lovable.And   1  3.218876   3.218876
124  Performance   1  2.525729   2.525729
125    watch.But   1  3.218876   3.218876
126   Louteriya.   1  3.218876   3.218876

[127 rows x 4 columns]